.wp-admin {
    .iande-status-metabox {
        & > * {
            margin-top: 15px !important;
        }

        label {
            font-weight: bold;
            margin-bottom: 10px;
        }

        textarea {
            width: 100%;
        }

        button.button {
            display: block;
            width: 100%;

            &.button-cancel {
                background-color: #E53E3E;
                border-color: #E53E3E;

                &:hover {
                    background-color: darken(#E53E3E, 10%);
                    border-color: darken(#E53E3E, 10%);
                }
            }
        }

        .form-error {
            color: #E53E3E;
        }
    }
    .meta-box-sortables {
        .cmb2-wrap {
            input[type='text'],
            select,
            textarea {
                max-width: 580px;
                width: 100%;
            }

            // Group list
            .cmb2-id-group-list {
                .cmb-td {
                    .cmb-row-top {
                        background-color: #eeeeee;
                        border-radius: 4px;
                        max-width: 550px;
                        padding: 10px 15px;
                    }
                    .cmb-row-line {
                        margin-bottom: 0;
                        max-width: 580px;
                        padding: 10px 0;
                    }
                }
            }

            summary {
                cursor: pointer;
            }
        }
    }
}