#iande-reports-page {
    h1 {
        margin-bottom: 40px;
    }
}

.iande-charts-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;

    .iande-chart-wrapper {
        background-color: white;
        border: 1px solid #DDDDDD;
        padding: 20px 30px;

        &.-colspan-2 {
            grid-column-end: span 2;
        }

        .apexcharts-toolbar {
            top: -40px !important; // overwrite inline css
        }

        .apexcharts-legend.position-top.apexcharts-align-left,
            .apexcharts-legend.position-bottom.apexcharts-align-left {
            padding-left: 0;

            .apexcharts-legend-series {
                margin: 3px 10px 3px 0 !important; // overwrite inline css
                width: 100%;
            }
        }

        .apexcharts-inner {
            margin: 100px auto;
        }

    }

}
