.iande-gallery {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    @media screen and (min-width: 779px) {
        margin: 20px 40px;
    }
}

.iande-gallery-item {
    background-color: var(--iande-lighter-color);

    &__header {
        color: var(--iande-secondary-color);
        font-weight: bold;
        padding: 10px;

        .iande-button {
            background-color: var(--iande-primary-color);
            border: none;
            border-radius: var(--iande-border-radius);
            color: var(--iande-secondary-color);
            float: left;
            line-height: 1;
            margin-right: 0.5em;
            padding: 0.5em;
            width: auto;

            &.selected {
                background-color: var(--iande-secondary-color);
                color: var(--iande-primary-color);
            }
        }

        span {
            display: block;
            font-size: 0.875em;
            line-height: 2;
        }
    }

    &__thumbnail {
        background-position: center;
        background-size: cover;
        padding-top: 100%;
        width: 100%;
    }
}
