.iande-gallery {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    @media screen and (min-width: 779px) {
        margin: 20px 40px;
    }
}

.iande-gallery-item {
    background-color: var(--iande-lighter-color);
    border-radius: var(--iande-border-radius) var(--iande-border-radius) 0 0;
    transition: all 0.3s ease-out;

    &:hover, &:focus-within {
        background-color: var(--iande-light-color);
    }

    &__header {
        font-weight: bold;
        padding: 0.5em;

        .iande-button {
            background-color: var(--iande-primary-color);
            border: none;
            border-radius: var(--iande-border-radius);
            color: var(--iande-secondary-color);
            float: left;
            line-height: 1;
            margin: 0 0.5em 0.5em 0;
            padding: 0.5em;
            transition: all 0.3s ease-out;
            width: auto;

            &.selected {
                background-color: var(--iande-secondary-color);
                color: var(--iande-primary-color);
            }
        }

        span {
            display: block;
            font-size: 0.875em;
            line-height: 2;
        }
    }

    &__thumbnail {
        height: auto;
        width: 100%;
    }
}
