.iande-groups {
    .iande-group {
        border-bottom: 1px solid var(--iande-light-color);
        padding-bottom: 40px;
    }

    .iande-group-title {
        border-bottom: 1px solid var(--iande-medium-color);
        color: var(--iande-text-color);
        font-size: 1em;
        padding-bottom: 6px;
        text-align: center;
        text-transform: uppercase;
    }
}
