.iande-groups {
    .iande-group {
        border-bottom: 1px solid var(--iande-light-color);
        padding-bottom: 40px;
    }

    .iande-group-title {
        border-bottom: 1px solid var(--iande-medium-color);
        color: var(--iande-text-color);
        font-size: 1em;
        padding-bottom: 6px;
        text-align: center;
        text-transform: uppercase;
    }
}

// Group details
.iande-group {

    &__summary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;

        & > * {
            display: flex;
        }
    }

    &__steps {
        align-items: center;

        & > * + * {
            margin-left: 1em;
        }
    }

    &__step {
        align-items: center;
        color: var(--iande-tertiary-color);
        display: flex;
        font-size: 0.75em;
        font-weight: bold;

        &-icon {
            align-items: center;
            background-color: var(--iande-tertiary-color);
            border: 2px solid var(--iande-tertiary-color);
            border-radius: 50%;
            color: white;
            display: inline-flex;
            height: 2.5em;
            justify-content: center;
            margin-right: 1em;
            width: 2.5em;

            &.active {
                background-color: inherit;
                color: var(--iande-tertiary-color);
            }
        }

        label {

            [data-icon] {
                color: var(--iande-secondary-color);
            }
        }

        select {
            background-color: transparent;
            border: none;
            color: var(--iande-secondary-color);
            font-size: inherit;
            font-weight: inherit;
        }
    }

    &__details {
        padding: 20px;
    }

    &.boxed & {

        &__summary {
            background-color: var(--iande-lighter-color);
            border-radius: var(--iande-border-radius) var(--iande-border-radius) 0 0;
        }

        &__details {
            background-color: var(--iande-lighter-color);
            border-radius: 0 0 var(--iande-border-radius) var(--iande-border-radius);
        }
    }

    .iande-modal & {

        &__summary {
            background-color: var(--iande-lighter-color);
            border-radius: var(--iande-border-radius);
        }
    }
}
