.iande-institutions {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));

    @media screen and (max-width: 30em) {
        grid-template-columns: 1fr;
    }
}

.iande-institution {
    padding: 0;

    &__summary {
        background: var(--iande-lighter-color);
        border-radius: var(--iande-border-radius) var(--iande-border-radius) 0 0;
        display: flex;
        line-height: 1.2;
        padding: 20px;

        &.collapsed {
            border-radius: var(--iande-border-radius);
        }

        & > * {
            align-items: center;
            display: flex;
        }

        h2 {
            color: var(--iande-secondary-color);
            flex: 1;
            font-size: 1.5em;
            font-weight: bold;
            margin: 0;
        }
    }

    &__toggle {
        color: var(--iande-secondary-color);
        font-size: 1.5em;
        margin-left: 20px;
    }

    &__details {
        background-color: var(--iande-lighter-color);
        border-radius: 0 0 var(--iande-border-radius) var(--iande-border-radius);
        padding: 0 20px 20px;
    }

    &__box {
        font-size: 0.875em;

        & > * {
            border-bottom: 1px solid var(--iande-light-color);
            padding: 10px 0;
        }

        & > :last-child {
            border-bottom: none;
        }

        &-title {
            align-items: flex-end;
            border-bottom: 3px solid var(--iande-tertiary-color);
            display: flex;
            justify-content: space-between;

            h3 {
                color: var(--iande-secondary-color);
                font-size: 1.25em;
                margin: 0;

                svg[data-icon] {
                    color: var(--iande-tertiary-color);
                    margin-right: 10px;
                }
            }
        }
    }

    &__edit {
        color: var(--iande-medium-color);
        font-size: 0.75em;
        margin-left: 10px;

        a {
            color: inherit;
        }
    }
}