.iande-itinerary-cover {

    &__main {
        align-items: stretch;
        color: var(--iande-background-color);
        display: flex;
        min-height: calc(100vh - 60px);
        position: relative;

        &:before {
            background-blend-mode: soft-light;
            background-color: var(--iande-secondary-color);
            background-image: var(--itinerary-cover);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 0; left: 0; right: 0; top: 0;
            content: '';
            height: 100%;
            position: absolute;
            width: 100%;
        }

        .iande-container {
            display: flex;
            justify-content: space-between;
            padding: 40px 20px;
            position: relative;

            & > :nth-child(1) {
                align-self: flex-end;
            }
        }
    }

    &__lead {
        color: var(--iande-light-color);
        font-weight: bold;
        text-transform: lowercase;
    }

    .iande &__title {
        color: inherit;
        font-family: var(--iande-text-font);
        font-size: 2em;
        font-weight: bold;
        margin: 0 0 40px;
        text-align: start;
        text-transform: uppercase;
    }

    &__description {
        margin: 0;
    }

    &__share {
        display: flex;
        margin-top: 40px;

        & > span {
            color: var(--iande-lighter-color);
            margin-right: 20px;
            font-size: 0.875em;
            text-transform: lowercase;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            margin: 0 20px;
        }

        a {
            color: inherit;
        }
    }

    &__credits {

        .iande-container {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;

            & > div {
                font-size: 0.875em;
            }

            b {
                color: var(--iande-secondary-color);
            }
        }
    }
}
