.iande-navbar {
    background-color: var(--iande-secondary-color);
    font-family: var(--iande-title-font);
    padding: 0;

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__site-name {
        align-items: flex-end;
        color: var(--iande-tertiary-color);
        display: flex;
        font-weight: 500;
        padding: 10px;

        img {
            margin-right: 1ex;
        }
    }

    nav {
        display: flex;
        padding-right: 10px;

        @media screen and (max-width: 800px) {
            width: 100%;

            &.hidden {
                display: none;
            }
        }

        ul, li {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        ul {
            display: flex;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }
        }

        li {
            align-items: center;
            display: inline-flex;
            list-style: none;
            padding: 5px 10px;
        }

        a {
            color: var(--iande-background-color);
            font-weight: 500;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__toggle {
        color: var(--iande-background-color);
        display: flex;
        align-items: center;

        @media screen and (min-width: 801px) {
            display: none;
        }
    }

    & &__dropdown {
        position: relative;

        ul, li {
            height: auto;
        }

        li {
            margin: 0;
            padding: 0;
        }

        @media screen and (max-width: 800px) {
            & > a {
                display: none;
            }

            ul {
                display: flex;
                flex-direction: column;
            }

            li {
                padding-bottom: 10px;
            }
        }

        @media screen and (min-width: 801px) {
            ul {
                border-radius: 0 0 var(--iande-border-radius) var(--iande-border-radius);
                box-shadow: 0 5px 5px 0 rgba(gray, 0.3);
                display: none;
                flex-direction: column;
                padding: 1em;
                position: absolute;
                right: 0;
                top: 100%;
                width: max-content;
                z-index: 10;
            }

            &:hover {
                background: var(--iande-background-color);

                a {
                    color: var(--iande-secondary-color);
                }

                ul {
                    background: var(--iande-background-color);
                    display: flex;
                }
            }
        }
    }
}