.iande-status {
    background-color: var(--iande-background-color);
    color: var(--iande-secondary-color);
    display: inline-block;
    border-radius: var(--iande-border-radius);
    font-weight: bold;
    padding: 5px 10px;

    @media screen and (max-width: 400px) {
        margin-top: 10px;
        width: 100%;
    }

    & > svg[data-icon] {
        color: var(--iande-medium-color);
        margin-right: 5px;
    }

    &.canceled {

        & > svg[data-icon] {
            color: var(--iande-error-color);
        }
    }

    &.publish {

        & > svg[data-icon] {
            color: var(--iande-success-color);
        }
    }
}
