.iande-tainacan {
    @media screen and (min-width: 779px) {
        margin: 20px;
    }

    .iande-button {
        background-color: var(--iande-primary-color);
        border: none;
        border-radius: var(--iande-border-radius);
        color: var(--iande-secondary-color);
        float: left;
        line-height: 1;
        margin: 0 0.5em 0.5em 0;
        padding: 0.5em;
        transition: all 0.3s ease-out;
        width: auto;

        &.selected {
            background-color: var(--iande-secondary-color);
            color: var(--iande-primary-color);
        }
    }
}
