.iande-container {

    .search-control {
        margin-bottom: 20px;
    }
}

.iande-tainacan {
    @media screen and (min-width: 779px) {
        margin: 20px;
    }

    .iande-tainacan-check-button {
        float: left;
        margin: 0 0.5em 0.5em 0;
    }
}

.iande-tainacan-check-button {
    background-color: var(--iande-primary-color);
    border: none;
    border-radius: var(--iande-border-radius);
    color: var(--iande-secondary-color);
    line-height: 1;
    padding: 0.5em;
    transition: all 0.3s ease-out;
    width: auto;

    &.selected {
        background-color: var(--iande-secondary-color);
        color: var(--iande-primary-color);
    }
}

#iande-itinerary-welcome-modal {
    p .iande-button {
        display: inline-block;
    }

    p.page {
        color: var(--iande-secondary-color);
        font-weight: bold;
        text-align: center;
    }

    .iande-itinerary-toolbar-mock {
        align-items: center;
        box-shadow: 0 0 5px 0 rgba(gray, 0.3);
        color: var(--iande-secondary-color);
        display: flex;
        font-size: 0.875em;
        font-weight: bold;
        justify-content: center;
        margin: 20px 0;
        padding: 0.5em 0;
    }
}