/* =Form general styles.
-------------------------------------------------------------- */
.iande-form-table.form-table.iande-form-table {
    overflow: hidden;
}
.iande-form-table .form-table--each-line {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
@media ( min-width: 768px ) {
    .iande-form-table .form-table--each-line {
        margin-bottom: 15px;
    }
    .iande-form-table .form-table--each-line.w75 {
        width: 75%;
    }
    .iande-form-table .form-table--each-line.w50 {
        width: 50%;
    }
    .iande-form-table .form-table--each-line.w33 {
        width: 33.333333%;
    }
    .iande-form-table .form-table--each-line.w25 {
        width: 25%;
    }
}

/* Label */
.iande-form-table .form-table--each-line .label {
    margin: 5px 12px -1px 12px;
}
.iande-form-table .form-table--each-line .label label {
    background: #f0efef;
    border-radius: 50px;
    color: #1E2E55;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    position: relative;
    z-index: 9;
}

/* Text inputs */
.iande-form-table .form-table--each-line .input input {
    border: 2px solid #cacaca;
    border-radius: 8px;
    padding: 5px 15px;
    width: calc(100% - 15px);
}
.iande-form-table .form-table--each-line .input input:focus {
    border-color: #A8DBBC;
    box-shadow: 0 0 0 1px #A8DBBC;
    outline: 2px solid transparent;
}

/* Selects */
.iande-form-table .form-table--each-line select {
    border: 2px solid #cacaca;
    border-radius: 8px;
    padding: 5px 15px;
    width: calc(100% - 15px);
}
.iande-form-table .form-table--each-line .input select:focus,
.iande-form-table .form-table--each-line .input select:hover {
    border-color: #A8DBBC;
    box-shadow: 0 0 0 1px #A8DBBC;
    color: #32373c;
    outline: 2px solid transparent;
}
@media (max-width: 782px) {
    .iande-form-table .form-table--each-line select {
        height: 46px;
    }
}

/* Description */
.iande-form-table .form-table--each-line .description {
    color: #666666;
    display: block;
    font-size: 12px;
    font-style: italic;
    max-width: calc(100% - 20px);
    padding: 5px;
}


/* =Gallery styles.
-------------------------------------------------------------- */

.iande-gallery-images .image,
.iande-gallery-images .add,
.iande-gallery-images .wc-metabox-sortable-placeholder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: none repeat scroll 0 0 #F7F7F7;
	border: 1px solid #D5D5D5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: move;
	float: left;
	height: 150px;
	margin: 9px 9px 0 0;
	overflow: hidden;
	position: relative;
	width: 150px;
}

.iande-gallery-images img {
	height: 150px;
	width: 150px;
}

.iande-gallery-images .wc-metabox-sortable-placeholder {
	border: 4px dashed #ddd;
}

/* =Image upload
-------------------------------------------------------------- */

.iande-upload-image {
	position: relative;
	width: 150px;
}

.iande-upload-image .preview {
	display: block;
	float: none;
	margin-bottom: 5px;
}

.iande-upload-image .default-image {
	display: none;
}

/* =Image and Plupload common
-------------------------------------------------------------- */

.iande-gallery-images .image .actions,
.iande-upload-image .actions {
	display: none;
	padding: 2px;
	position: absolute;
	margin: 0;
	right: 0;
	top: 0;
}

.iande-gallery-images .image:hover > .actions,
.iande-upload-image:hover > .actions {
	display: block;
}

.iande-gallery-images .image .actions li,
.iande-upload-image .actions li {
	background: #eee;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: right;
	margin: 0 0 0 2px;
	padding: 1px;
	text-align: center;
}

.iande-gallery-images .image .actions li:hover,
.iande-upload-image .actions li:hover {
	background: #ddd;
}

.iande-gallery-images .image .actions li a,
.iande-upload-image .actions li a {
	text-decoration: none;
}

.iande-gallery-images .image .actions li a:hover,
.iande-upload-image .actions li a:hover {
	text-decoration: none;
}

.iande-gallery-images .image .actions .delete,
.iande-upload-image .actions .delete {
	color: #d00;
}

/* =Separator
-------------------------------------------------------------- */

.iande-metabox-separator {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #dfdfdf;
	display: block;
}
