.iande-button {
    border: 1px solid var(--iande-primary-color);
    border-radius: var(--iande-border-radius);
    color: var(--iande-secondary-color);
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: 100%;

    &.small {
        height: 100%;
        padding: 10px;
        width: auto;
    }

    &.disabled {
        background-color: var(--iande-light-color);
        border-color: var(--iande-light-color);
        color: var(--iande-text-color);
        cursor: default;
        opacity: 0.75;
    }

    &.solid {
        background-color: var(--iande-light-color);
        border-color: var(--iande-light-color);
    }

    &.primary {
        background-color: var(--iande-primary-color);
    }

    &.secondary {
        background-color: var(--iande-secondary-color);
        border-color: var(--iande-secondary-color);
        color: var(--iande-primary-color);
    }

    &.outline {
        background-color: transparent;
    }
}
