.iande-stack {
    &.stack-sm {
        & > * + * {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }

    &.stack-md {
        & > * + * {
            margin-bottom: 0;
            margin-top: 20px;
        }
    }

    &.stack-lg {
        & > * + * {
            margin-bottom: 0;
            margin-top: 40px;
        }
    }
}