#iande-confirm-itinerary {
    display: grid;
    grid-template-columns: 1fr 85em 1fr;
    height: 100%;
    min-height: calc(100vh - 60px);

    & > :nth-child(1) {
        background-color: var(--iande-lighter-color);
    }

    article {
        display: grid;
        height: 100%;
        grid-template-columns: auto 1fr;
        max-width: 100vw;
    }

    h1 {
        color: var(--iande-secondary-color);
        font-size: 1.25em;
        font-weight: normal;
        margin: 0;
        text-transform: uppercase;
        text-align: start;
    }

    .iande-sidebar {
        background-color: var(--iande-lighter-color);
        padding: 1em;

        & > * {
            margin-top: 40px;
        }

        .iande-button, a {
            line-height: 0;
            margin-top: 10px;
            text-align: start;
            width: 100%;

            & > span {
                display: inline-block;
                padding-left: 1ch;
            }
        }

        a {
            color: var(--iande-secondary-color);
            display: inline-block;
            padding: 0 10px;
            text-decoration: none;
        }

        #iande-collapse-button {

            @media screen and (min-width: 85em) {
                display: none;
            }
        }

        &.-collapsed {

            @media screen and (max-width: 85em) {

                .iande-button, a {
                    text-align: center;

                    & > span {
                        text-indent: -1000vw;
                        padding: 0;
                    }
                }
            }
        }

        &:not(.-collapsed) {

            @media screen and (max-width: 85em) {
                width: max-content;
                z-index: 1;
            }
        }
    }

    .iande-appointment__buttons {
        justify-content: center;

        @media screen and (max-width: 700px) {
            flex-direction: column;

            .iande-button {
                margin: 0.5em 1em;
            }
        }
    }

    table {
        width: 100%;

        thead {
            th {
                border-bottom: 1px solid var(--iande-medium-color);
                font-size: 0.75em;
                padding: 0.5em;
                text-align: start;
            }
        }

        tbody {
            td {
                padding: 0.5em;
                vertical-align: top;

                &:not(.iande-tainacan-table__controls) {
                    font-size: 0.75em;
                }

                &:nth-of-type(3) {
                    font-weight: bold;
                }
            }

            img {
                border-radius: var(--iande-border-radius);
                height: 64px;
                object-fit: cover;
                width: 64px;
            }
        }

        textarea {
            border: 2px solid var(--iande-light-color);
            border-radius: var(--iande-border-radius);
            background-color: var(--iande-background-color);
            color: var(--iande-text-color);
            display: block;
            font-family: inherit;
            font-size: 1em;
            height: fit-content;
            padding: 15px 20px;
            width: 100%;
        }

        @media screen and (max-width: 600px) {
            border-top: 1px solid var(--iande-medium-color);

            thead {
                display: none;
            }

            tr {
                border-bottom: 1px solid var(--iande-light-color);
                display: grid;
                grid-template-columns: auto auto 1fr;
            }

            td {

                &:nth-child(4) {
                    grid-column: 2 / span 2;
                }
            }
        }
    }
}
