.iande-tainacan-masonry-item {
    background-color: var(--iande-lighter-color);
    border-radius: var(--iande-border-radius) var(--iande-border-radius) 0 0;
    margin: 0 20px 20px 0;
    transition: background-color 0.3s ease-out;

    &.cols-4 {
        width: calc(25% - 20px);
    }

    &.cols-3 {
        width: calc(33.33% - 20px);
    }

    &.cols-2 {
        width: calc(50% - 20px);
    }

    &.cols-1 {
        width: 100%;
    }

    &:hover, &:focus-within {
        background-color: var(--iande-light-color);
    }

    &__header {
        font-weight: bold;
        padding: 0.5em;

        span {
            display: block;
            font-size: 0.875em;
            line-height: 2;
        }
    }

    &__thumbnail {
        height: auto;
        width: 100%;
    }
}
