@use './variables' as var;

:root {
    font-size: 16px;
    line-height: 1.375;
}

#iande-app {
    background-color: var.$background-color;
    color: var.$text-color;
    font-size: 16px;
    padding: 30px 20px;

    .container {
        margin: auto;
        width: 100%;

        &.narrow {
            max-width: 30rem;
        }
    }

    h1 {
        color: var.$primary-color;
        font-size: 2.5rem;
        font-weight: normal;
        margin: 0 0 1em;
        text-align: center;
    }

    .slogan {
        font-size: 1.25rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
    }
}
