body {
    margin: 0;
}

.iande {
    accent-color: var(--iande-accent-color);
    background-color: var(--iande-background-color);
    color: var(--iande-text-color);
    font-family: var(--iande-text-font);
    font-size: 16px;
    line-height: 1.375;

    *, *::before, *::after {
        box-sizing: border-box;
    }

    .iande-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 85em;
        padding: 0 1em;
        width: 100%;

        .iande-container {
            padding: 0;
        }

        &.narrow {
            max-width: 30em;
        }

        &.full-width {
            max-width: 100%;
        }
    }

    .iande-print-page {
        margin: auto;
        width: 100%;

        @media screen {
            max-width: 297mm;
            padding: 30px;
        }

        @media screen and (max-width: 800px) {
            padding: 30px 20px;
        }
    }

    article {
        margin-bottom: 40px;
    }

    h1 {
        color: var(--iande-primary-color);
        font-family: var(--iande-title-font);
        font-size: 2.5em;
        font-weight: normal;
        margin: 0 0 1em;
        text-align: center;
    }

    .slogan {
        font-family: var(--iande-title-font);
        font-size: 1.25em;
        text-align: center;
    }

    p {
        font-size: 1em;
    }
}
