@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 500;
    src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}
