$border-radius: 10px !default;

$primary-color: #A8DBBC !default;
$secondary-color: #1E2E55 !default;
$tertiary-color: #7DB6C5 !default;
$background-color: white !default;
$light-color: #F5F5F5 !default;
$medium-color: #999999 !default;
$text-color: #666666 !default;
$error-color: #d44950 !default;

:root {
    --iande-border-radius: #{$border-radius};

    --iande-primary-color: #{$primary-color};
    --iande-secondary-color: #{$secondary-color};
    --iande-tertiary-color: #{$tertiary-color};
    --iande-background-color: #{$background-color};
    --iande-light-color: #{$light-color};
    --iande-medium-color: #{$medium-color};
    --iande-text-color: #{$text-color};
    --iande-error-color: #{$error-color};
}
