$primary-color-base: #A8DBBC !default;
$secondary-color-base: #1E2E55 !default;
$tertiary-color-base: #7DB6C5 !default;
$background-color-base: white !default;
$light-color-base: #F5F5F5 !default;
$gray-color-base: #999999 !default;
$text-color-base: #666666 !default;

$primary-color: var(--iande-primary-color);
$secondary-color: var(--iande-secondary-color);
$tertiary-color: var(--iande-tertiary-color);
$background-color: var(--iande-background-color);
$light-color: var(--iande-light-color);
$gray-color: var(--iande-gray-color);
$text-color: var(--iande-text-color);

:root {
    --iande-primary-color: #{$primary-color-base};
    --iande-secondary-color: #{$secondary-color-base};
    --iande-tertiary-color: #{$tertiary-color-base};
    --iande-background-color: #{$background-color-base};
    --iande-light-color: #{$light-color-base};
    --iande-gray-color: #{$gray-color-base};
    --iande-text-color: #{$text-color-base};
}
